body {
	font-family: 'Lato';
}

.email-wrapper {
	background: #ffffff;
	padding: 30px;
	margin: 40px 0 20px 0;
}

.logo {
	width: 115px;
	margin-bottom: 20px;
}

.logo-wrapper {
	text-align: center;
}

p {
	font-size: 18px;
	margin-bottom: 5px;
}

.name {
	font-size: 28px;
}

.intro {
	font-size: 24px;
	margin-bottom: 10px;
}

p.regards {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 18px;
}

p.mojo {
	font-size: 18px;
}

.links-wrapper {
	border-top: 1px solid #e7e7e7;
	padding: 25px 0;
}

.links {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

.links li {
	display: inline-block;
}

.links li a {
	color: #91cb28;
	font-weight: bold;
}

.links span {
	padding-left: 6px;
	padding-right: 4px;
	color: #90cb26;
}

.social {
	text-align: center;
	background: #ddd;
	padding: 40px 0;
}

.social a {
	color: #888888;
	padding-right: 10px;
}

.copyright {
	color: #888888;
	font-size: 14px;
	padding-bottom: 0px;
	padding-top: 5px;

}

.unsubscribe span {
	padding: 0 5px 0 5px;
}

p a {
	font-size: 18px;
	padding: 20px 0;
}

.approval {
	color: #90cb26;
	padding-right: 5px;
}

.rejected {
	color: #ea4747;
}

.btn.btn-blue {
	background-color: #319dd5;
	color: #ffffff;
	border: 1px solid #288fc5;
	font-size: 16px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	margin-top: 10px;
}

.btn.btn-blue:hover {
	background-color: #2083b7 !important;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.amount {
	color: #319dd5;
}

.note {
	 font-size: 14px;
  	font-style: italic;
  	margin-top: 10px;
  	color: #989898;
}

.password-link {
	margin-top: 20px;
  	margin-bottom: 20px;

}
