/** -------------------------
Global
------------------------- **/
body {
	font-family: 'Lato';
	font-size: 16px;

}


.wrapper {
   margin-bottom:159px;

}

html{
  position:relative; 
  min-height: 100%;
}

html,body{
  margin:0;
  padding:0;
}

a {
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

a:hover {
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

p {
	font-size: 16px;
}

hr {
  margin-bottom: 50px !important;
}

.pt10 {
	padding-top: 10px;
}


/** -------------------------
Login
------------------------- **/
.login {
	background: #3b3d42;
}

.login-wrapper {
	background: #ffffff;
	border-color: #2e2f34;
	width: 400px;
	border-radius: 4px;
	margin: 200px auto 20px auto;
	padding: 30px;
}

.login-wrapper .login-logo {
	text-align: center;
	margin-bottom: 20px;
}

.login-wrapper .login-logo img {
	width: 130px;

}

.login-wrapper .form-control {
	background: #f1f1f1;
	border-color: #d8d8d8;
	padding: 22px 15px 22px 36px;
	margin-bottom: 25px;
	font-size: 16px;
}

.login-wrapper .form-control:nth-child(3) {
	margin-bottom: 10px !important;
}

.login-wrapper .form-control.old {
  margin-bottom: 10px !important;
}

.login-wrapper .form-control.confirm {
  margin-bottom: 10px !important;
}

.login-wrapper .form-control:focus {
	background-color: #ffffff;
	transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
}

.login-wrapper .username {
	background: #f1f1f1 url('../images/user.png') no-repeat left 15px center;
}

.login-wrapper .password {
	background: #f1f1f1 url('../images/lock.png') no-repeat left 15px center;
	margin-bottom: 10px !important;
}

.login-links {
	text-align: center;
	padding-left: 0;
}

p.login-links {
	color: #838791;
	font-size: 14px;
}

.login-btn {
	background: #90cb26 url('../images/circle-arrow-right.png') no-repeat right 122px center;
	color: #ffffff;
	display: inline-block;
	width: 100%;
	padding: 12px 28px 12px 12px;	
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid #80b91a;
	margin-top: 10px;
}

.login-btn:hover, .login-btn:focus, .login-btn:active  {
	background: #72aa0e url('../images/circle-arrow-right.png') no-repeat right 122px center;
	color: #ffffff;
}

.reset-btn {
  background: #90cb26 url('../images/circle-arrow-right.png') no-repeat right 72px center;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  padding: 12px 28px 12px 12px;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #80b91a;
  margin-top: 10px;
}

.reset-btn:hover, .reset-btn:focus, .reset-btn:active  {
	background: #72aa0e url('../images/circle-arrow-right.png') no-repeat right 72px center;
	color: #ffffff;
}

.forgot-password {
	margin-bottom: 20px;
	display: inline-block;
}

/** -------------------------
Main
------------------------- **/
.panel-container.container {
	width: 95%;
}

.wrapper {
	margin-left: 60px;

}

.main {
	background: #ffffff;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 30px;
	margin-top: 80px;
}
.with-breadcrumbs {
	margin-top: 20px;
}

.container.breadcrumbs {
	width: 95%;
	margin-top: 90px;
}

.breadcrumb-list {
	padding-left: 0;
	margin-bottom: 0;
}

.breadcrumb-list li {
	display: inline-block;
}

.breadcrumb-list .active-page {
	font-weight: bold;
}

.main.user-details h1 {
	font-size: 26px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0px;

}

.main h2 {
	font-size: 26px;
	margin-top: 5px;
}

.main h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 0;
}


/** -------------------------
Header
------------------------- **/
.navbar-default {
	padding: 0 !important;
	margin-left: 60px;
}

.main-container {
	margin-bottom: 40px;
}

.main-container.dashboard {
	margin-top: 40px;

}

.logo {
	width: 90px;
	margin-left: 30px;
	padding-top: 8px;
}

.navbar-default {
  background: #ffffff;
  border-bottom: none;
  box-shadow: 0 3px 4px rgba(0,0,0,.12);
  padding: 8px 0;
}

.navbar-header {
	display: inline-block;
  	float: left;
}

.notify {
	background: #EA4747;
	color: #ffffff;
	width: 100%;
	margin-top: 65px;
	padding: 14px 30px;
	font-size: 16px;
}

.notify p .fa {
	margin-right: 8px;
}

.notify p {
	margin-bottom: 0;
	display: inline-block;
}

.notify a {
	color: #ffffff;
	display: inline-block;
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 1px 6px;
	font-size: 14px;
	margin-left: 5px;
}

.notify a:hover {
	background: #ffffff;
	color: #EA4747;
	text-decoration: none;
}

.logout {
	float: right;
	border-left: 1px solid #ddd;
}

.logout a {
  display: inline-block;
  padding: 22px 30px 22px 50px;
  color: #055a58;
  font-weight: 700;
  font-size: 16px;
  background: url('../images/logout.png') no-repeat left 28px center;
}

.logout a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #055A58;
	background-image: url('../images/logout-white.png');
}

.welcome {
  padding-top: 20px;
  display: inline-block;
  font-size: 18px;
  margin-left: 45px;
  color: #055A58;
}

.welcome img {
	margin-top: -4px;
}

/** -------------------------
Error Messages
------------------------- **/

.input-error-message {
	color: #ffffff;
	background: #EA4747;
	font-size: 14px;
	padding: 5px 10px;
	display: none;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: -15px;
}


.error {
	border: 1px solid #EA4747 !important;
}

/** -------------------------
Dashboard
------------------------- **/
body {
	background: #e4e1e1;
}

.panel-dash {
	padding: 30px;
	min-height: 200px;
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
}

.panel-dash h2 {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #535353;
}

.panel-dash .panel-icon {
	color: #c8c8c8;
	position: absolute;
	right: 20px;
	top: 120px;
	font-size: 5em;
	margin-right: 20px;

}

.dashboard .main {
	margin-top: 20px;
}

.dashboard .nav-tabs {
	float: left;
}

.dashboard .tabs-wrapper {
	margin-top: 0 !important;
}

.dashboard .nav-tabs li a {
	margin: 0 30px;
}
.dashboard .nav-tabs li a:first-child {
	margin-left: 0
}

.alerts {
	color: #7B7B7B;
}

.num-alert {
  color: #ffffff;
  background: #EA4747;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 5px;
  font-size: 14px;
  display: inline-block;
  line-height: 8px;
}

.green-btn {
	background: #90cb26 url('../images/circle-arrow-right.png') no-repeat right 12px center;
	background-size: 14px;
	color: #ffffff;
	padding-right: 30px;
	font-weight: bold;
	position: absolute;
	bottom: 30px;
}

.green-btn:hover {
	color: #ffffff;
	background-color: #78ae18;
}

.green-btn:focus {
	background: #78ae18 url('../images/circle-arrow-right.png') no-repeat right 12px center;
	background-size: 14px;
	color: #ffffff;
}

/** -------------------------
Sidebar
------------------------- **/
.sidebar {
	width: 60px;
	background: #242528;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	overflow: visible;
}

.icons {
	padding-left: 0;
	list-style-type: none;
}

.icons li {
	text-align: center;
}

.icons li img {
	width: 25px;
	opacity: 0.5;
	transition: opacity 0.15s linear;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
}

.icons li:hover img {
	opacity: 1;
	transition: opacity 0.15s linear;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
}

.icons li a {
	display: block;
	padding: 20px 0;
	position: relative;
	border-bottom: 1px solid #414449;

}


.icons li.active {
	background: #444;
}

.icons li.active img {
  opacity: 1;
}

.tooltip {
	z-index: 999999;
}

/** -------------------------
User Details
------------------------- **/
.note-type {
	width: 200px;
	margin-bottom: 20px;
}

.activity-log thead tr{
	border-bottom: 3px solid #ddd !important;
}

.edit {
	font-size: 14px;
	padding-left: 20px;
	cursor: pointer;
}

.edit-user {
	font-size: 14px;
	cursor: pointer;
}

.update-confirmation {
	padding: 15px;
	border: 2px solid #fc9937;
	margin-top: 20px;
	color: #fc9937;
	border-radius: 4px;
}

/** -------------------------
Account Tabs
------------------------- **/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 0;
	border-bottom: 4px solid #90cb26;

}

.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
  	background: transparent !important;
	border-bottom: 4px solid #90cb26;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;

}

.nav-tabs>li>a {
	border-bottom: 4px solid transparent;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
}

.nav-tabs {
	border: 0;
	float: right;
}

.nav-tabs>li>a {
	font-size: 18px;
	padding: 8px 0;
	margin: 0 18px;
	color: #1b1b1b;
}

.nav-tabs>li:last-child a {
	margin-right: 0
}

.tabs-wrapper {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.user-details .tabs-wrapper {
	margin-top: -20px;
}

.nav-tabs img {
	width: 16px;
	margin-bottom: 2px;
	margin-right: 4px;
}

/** -------------------------
Attachments Area
------------------------- **/

.attached-docs {
	margin-top: 20px;
}

.glyphicon.glyphicon-folder-open {
	padding-right: 5px;
}

ul.attachments {
	padding-left: 0px;
}

ul.attachments li {
  background: url(../images/pdf.gif) no-repeat 2px 4px;
  padding-left: 25px;
  list-style: none;
  font-size: 16px;
  line-height: 1.55em;
  margin-bottom: 0.6em;
  margin-left: 0px;
}

.upload-date {
	color: #818181;
	font-size: 14px;
	font-style: italic;
}

/** -------------------------
Loans Area
------------------------- **/

.alert-info.loan {
	margin-top: 20px;
}

.amend-area {
	display: none;
}

.allocation-amount {
	font-size: 30px;
}

.panel-loans {
  padding: 30px;
  min-height: 200px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
}

/** -------------------------
User Data
------------------------- **/
.user-data {
	margin-top: 20px;
}

.user-data td:focus {
	background: #ffffff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: 0;
	padding: 10px;
	font-size: 16px;
}

.table.user tr td:first-child {
	width: 30%;
	color: #787878
}

textarea.notes {
	min-height: 120px;
	margin-bottom: 20px;
	width: 50%;
}

textarea.application-notes {
	min-height: 120px;
	margin-bottom: 20px;
	width: 100%;
}

.notes-table {
	margin-top: 30px;
}

.notes-table tr {
	border-bottom: 1px solid #D8D8D8;
}

.notes-table th {
	text-transform: uppercase;
	color: #B0B0B0;
}

.application-notes-table {
	margin-top: 0px;
}

.application-notes-table tr {
	border-bottom: 1px solid #D8D8D8;
}

.application-notes-table th {
	text-transform: uppercase;
	color: #B0B0B0;
}

/*th.note-sorting {
	background-image: url('../images/icons/sort_both.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}*/

.delete {
	width: 16px;
	cursor: pointer;
}

hr {
	border-color: #e8e7e7;
	margin-top: 30px;
	margin-bottom: 30px;
}

.left-table {
	padding-right: 45px;
}

.right-table {
	padding-left: 45px;
}

.forgot {
	font-size: 14px;
}

.pending-change td {
	opacity: 0.4;
	cursor: not-allowed;
}

.pending-change td:last-child{
	background: url('../images/pending.png');
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.pending-change tr:before {
	content: "Changes pending";
}

/** -------------------------
Employees tab
------------------------- **/

#employee2 {
	margin-top: 40px;
}

/** -------------------------
Users tab
------------------------- **/

.change {
	margin-left: 10px;
}

/** -------------------------
Search screen
------------------------- **/

.input-group-addon img {
	height: 20px;
}

/** -------------------------
Accordion
------------------------- **/
.panel-title>a:hover {
	text-decoration: none;
}

.completed-step {
	color: #48b048 !important;
}

.completed-step img {
	width:14px; 
	margin-top:-3px
}

/** -------------------------
Buttons
------------------------- **/
.btn.btn-blue {
	background-color: #319dd5;
	color: #ffffff;
	border: 1px solid #288fc5;
	font-size: 16px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.btn-blue:hover {
	background-color: #2083b7 !important;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.btn-green {
	background: #8ec925;
	color: #ffffff;
	font-size: 16px;
	border: 2px solid transparent;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.btn-green:hover {
	background-color: #78ac1a !important;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.btn-green.approve {
	background: #8ec925 url('../images/icons/approve.png') no-repeat right 12px center;
	background-size: 16px;
	padding-right: 32px;
	cursor: not-allowed;
}

.btn.btn-red {
	background: transparent;
	color: #e64f3f;
	border: 2px solid #e64f3f;
	font-size: 16px;
}

.btn.btn-red:hover {
	background: #e64f3f;
	color: #ffffff; 
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.btn-red.reject {
	background: url('../images/icons/reject.png') no-repeat right 12px center;
	background-size: 16px;
	padding-right: 32px;
	margin-left: 10px;
	cursor: not-allowed;
}

.btn.btn-red.reject:hover {
	background: #e64f3f url('../images/icons/reject-white.png') no-repeat right 12px center;
	background-size: 16px;
	color: #ffffff;
}

.btn.btn-blue.update {
	background: #319dd5 url('../images/icons/approve.png') no-repeat right -20px center;

}

.btn.btn-blue.excel {
	background: #319dd5 url('../images/icons/export.png') no-repeat right 12px center;
	background-size: 12px;
	padding-right: 32px;
}

.btn.campaign-monitor {
	background: #2f353e;
	height: 36px;
	margin-left: 10px;
	color: #ffffff;
}

.btn.campaign-monitor img {
	width: 140px;
	margin-left: 3px;
}

.updated {
	padding-right: 38px !important;
	background: #2083b7 url('../images/icons/approve.png') no-repeat right 12px center !important;

}

.update-btn {
	margin-top: 20px;
}

.deceased-btn {
	background: #ddd;
	cursor: not-allowed;
}

.deceased-btn:hover {
	background: #ddd;
	border-color: #ccc;
}

.btn.red {
  background: #e24c37;
  padding: 5px 12px 5px 12px;
  color: #fff;
  	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.btn.blue {
  background: #319dd5;
  padding: 5px 12px 5px 12px;
  color: #fff;
}

.btn.lime {
  background: #90cb26;
  padding: 5px 12px 5px 12px;
  color: #fff;

}

.btn-sm {
	padding: 3px 10px;
	font-size: 14px !important;
}

.badge {
	font-weight: 400 !important;
	background-color: #999 !important;
}

.account-status {
	font-weight: 700;
	padding-right: 10px;
}

.button-wrapper {
	opacity: 0.4;
}

.assessment-date {
	margin-top: 20px;
}

/*.datepicker-dropdown {
	top: 130px !important;
}*/

/** -------------------------
Status
------------------------- **/
.status {
	border-radius: 10px;
	padding: 6px 12px;
	font-size: 16px;
	border: 1px solid;
	display: inline-block;
	margin-left: 10px;
}

.status.pending {
	background: #fff8de;	
	color: #ffae00;
	border-color: #ffae00;
}

.status.approved {
  background: #dfefc2;
  color: #91cb29;
  border-color: #91cb29;
}

.status.rejected {
	background: #FFC3C3;
	color: #EA4747;
	border-color: #EA4747;	
}

.status.deceased {
	color: #940300;
  	background-color: #F4A2A0;
  	border-color: #981F1D;
}



/** -------------------------
Rejected User
------------------------- **/
.error-notice {
	border: 2px solid #ea4747;
  	border-radius: 4px;
  	padding: 15px;	
  	color: #ea4747;
}

.error-notice p {
	margin-bottom: 0;
}


/** -------------------------
Waiting Approval
------------------------- **/
.disabled-details {
	position: relative;
}

.disabled-overlay {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.disabled-details h1 {
	margin-top: 70px !important;
}

.notify.waiting {
	margin-top: 0px;	
	border-radius: 4px;
}

.notify.waiting {
	background: #ffae00;
	color: #ffffff;
	width: 100%;
	padding: 14px 30px;
	font-size: 16px;
}

.notify.waiting p .fa {
	margin-right: 8px;
}

.notify.waiting p {
	margin-bottom: 0;
	display: inline-block;
}

/** -------------------------
Create User
------------------------- **/
.new-user .form-control {
	margin-bottom: 20px;
}

label {
	font-weight: 500;
	display: block;
}

/** -------------------------
User Details - Approved
------------------------- **/
.closing-checklist {
	margin-top: 30px;
}

/** -------------------------
Checkboxes
------------------------- **/
.custom-check input[type="checkbox"] {
	visibility: hidden;
	margin-left: -12px;

}

.custom-check {
	background: url('../images/check.png') no-repeat left top 3px;
	cursor: pointer;
	padding-left: 20px;
	display: block;
	margin-bottom: 15px;
}

.custom-checked {
	background: url('../images/checked.png') no-repeat left top 3px !important;
}

.closing-checklist {
	display: none;
	border: 2px solid #ea4747;
	border-radius: 4px;
	padding: 15px;
}

td .custom-check {
	margin-bottom: 0;
}

.selected-row {
  background: #e6f9c2 !important;
}


.custom-check-no input[type="checkbox"] {
	visibility: hidden;
	margin-left: -12px;

}

.custom-check-no {
	background: url('../images/check-no.png') no-repeat left top 3px;
	cursor: pointer;
	padding-left: 20px;
	display: block;
	margin-bottom: 15px;
}

/** -------------------------
Investor List
------------------------- **/
table.user-list thead th {
	color: #767676;
	padding: 12px 8px;
}

table thead tr:hover {
	background: transparent !important;
}

table.users thead th:first-child, table.user-list thead th:nth-child(5), table.user-list thead th:nth-child(4) {
	width: 12%;
}

table.users thead th:nth-child(2) {
	width: 16%;
}

table.users thead th:nth-child(3) {
	width: 16%;
}

table.user-list thead tr {
	border-top: 1px solid #ddd;
	border-bottom: 3px solid #ddd !important;
}

table.user-list tr td:first-child {
	font-weight: bold;
}

table.user-list tr {
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

table.user-list tr:hover, table.loans tr:hover {
	cursor: pointer;
	background: #e6f9c2;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

table.approval.user-list thead tr {
  border-top: 1px solid #fff;
  border-bottom: 3px solid #ddd !important;
}

div.dataTables_filter label {
  text-align: right !important;
}

.user-list .pending {
	color: #ffae00;
	font-weight: bold;
}

.user-list .approved {
	color: #82b625;
	font-weight: bold;	
} 

.user-list .rejected {
	color: #d93131;
	font-weight: bold;	
} 

.search {
	width: 350px;
	padding: 22px;
	background: #ffffff url('../images/icons/search-btn.png') no-repeat right 22px center;
	background-size: 18px;
}

.questions {
	border: 1px solid #ddd;
	padding: 20px 20px 10px 20px;
	border-radius: 2px;
	text-align: left;
	margin-top: 20px;
}

.questions p {
	font-size: 18px;
	margin-bottom: 5px;
}

p.answer {
	font-style: italic;
	margin-bottom: 20px;
}

input[type="text"] .form-control {
	margin-bottom: 20px;
	padding: 20px 12px;
}

.modal-content h2 {
	font-size: 25px;
}

.modal-content h4 {
	font-weight: 700;
	font-size: 16px;
}

.modal-body {
	font-size: 14px;
}

.forgot h2 {
	margin-top: 0;
}

p.new-pass {
	margin-top: 10px;
}

/** -------------------------
Pagination
------------------------- **/
.pagination>li>a, .pagination>li>span {
	margin-right: 6px;
	border-radius: 3px;
}

.pagination>li:last-child a, .pagination>li:last-child span {
	margin-right: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
 	background-color: #8ec925;
 	border-color: #8ec925;	
}

/** -------------------------
Filters
------------------------- **/
.filter-wrapper {
	margin-bottom: 20px;
}

.status-filter {
	margin-bottom: 15px;
}

.status-filter a {
	font-size: 14px;
}

.status-filter span {
	color: #D3D3D3;
	padding-left: 2px;
	padding-right: 2px;
}

h3.filters {
	font-size:14px; 
	text-transform:uppercase; 
	font-weight: bold; 
	color: #9e9e9e;
	margin-bottom: 10px;
}

.filter-wrapper .form-control {
	width: auto;
	display: inline-block;
	margin-right: 10px;
}

.filter-btn {
	padding: 3px 12px;
	line-height: 1.6em;
}

/** -------------------------
Communication Management
------------------------- **/
.date {
	width: 220px;
}

.sms-text {
	width: 50%;
	margin-top: 20px;
}

.sms-template {
	margin-top: 10px;
}

.email-template {
	min-height: 400px;
	padding: 20px;
	font-size: 16px;
	margin-bottom: 20px;
}

.email-template-wrapper {
	position: relative;

}

.edit-email {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/** -------------------------
User Management
------------------------- **/
#change-approval .btn {
	float: right;
}

.alert-text {
	margin-bottom: 20px;
}

.user-check {
	margin-top: 32px !important;
}

/** -------------------------
Investor List
------------------------- **/ 
.search-container {
	min-height: 600px
}


/** -------------------------
Modals
------------------------- **/
.modal-content {
	border-radius: 4px;
	text-align: center;
	padding: 20px;
}

.modal-content h1 {
	margin-bottom: 10px;
}

.modal-header, .modal-footer{
	border: 0;
}

.modal-footer {
	text-align: center;
	padding-bottom: 30px;
}

/** -------------------------
Footer
------------------------- **/
.footer-wrapper {
	background: #3b3d42;
	color: #87888b;
	clear: both;
	position: absolute;
	left: 60px;
	right: 0;
	bottom: 0;
}

.footer {

	padding: 30px 15px;
}

.footer p {
	font-size: 14px;
}

.footer-logo {
	opacity: 0.3;
	width: 58px;
	margin-right: 15px;
}

.footer-links {
	padding-left: 0;
	margin-bottom: 0;
	padding-top: 8px;
}

.footer-links li {
	display: inline-block;
	list-style-type: none;
	padding-right: 18px;
}

.footer-links li:last-child {
	padding-right: 0;
}

.footer-links li a {
	color: #87888b;
	font-size: 14px;

}

.footer p {
	padding-top: 8px;
	margin-bottom: 0
}

.footer .container {
	width: 100%;
}


/** -------------------------
Media Queries
------------------------- **/

@media screen and (max-width: 480px) {
	.welcome {
		display: none;
	}

	.sidebar {
		display: none;
	}

	.wrapper {
		margin-left: 0;
	}

	.navbar-default {
		margin-left: 0;
	}
	
	.campaign-monitor {
		margin-top: 10px;
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 1199px) {
	.tabs-wrapper {
		margin-top: 20px;
	}

	.panel-dash {
	  padding: 25px;
	}

	div.dataTables_filter input {
		width: auto !important;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.panel-dash h2 {
		font-size: 18px;
	}

	.panel-dash p {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.search {
		width: 100%;
	}

	.tabs-wrapper {
		margin-top: 0;
	}

	.nav-tabs>li>a {
		margin: 0;
		padding: 12px 0;
	}

	.nav-tabs>li, .nav-tabs {
		float: none;
	}

	.right-table {
		padding-left: 15px;
	}

	.left-table {
		padding-right: 15px;
	}

	.status {
		float: right;
	}

	.logo {
		width: 65px;
		margin-top: 6px;
	}

	.welcome {
		margin-left: 25px;
		font-size: 16px;
	}

	.welcome img {
		width: 20px;
	}

	.logout a {
		  padding: 22px 15px 22px 40px;
		  background-position:  left 20px center;
	}

	.communication-buttons {
		margin-bottom: 20px;
		margin-top: 20px;
	}



}